.bestsellers
    .container
        h2.title ХИТЫ ПРОДАЖ
        .slider
            .swiper.bestsellers__swiper
                .swiper-wrapper
                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                            p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик
                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                            p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик

                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                            p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик
                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                            p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик

                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                                p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик
                    .swiper-slide.product
                        a(href="#").product__link
                        .product__header
                            img(src=require("../../public/images/bestsellers-1.jpg") alt="").product__image
                            .product__badges
                                .bestsellers-item__icon
                                    +icon("heart")
                        .product__main
                            .product__info
                                h3 COHOE
                                .product__prices
                                    p.product__price.product__price--sale 2660
                                        span руб
                                    p.product__price 1850
                                        span руб
                                p.product__category Серьги из серебра
                        .product__footer
                            button.product__cart
                                +icon("cart")
                                | В корзину
                            button.product__pay Купить в 1 клик

            button.slider__arrow.slider__arrow--prev.bestsellers__arrow--prev
                +icon("prev")
            button.slider__arrow.slider__arrow--next.bestsellers__arrow--next
                +icon("next")

