.category
    .container
        h2.title КАТЕГОРИИ
        .slider
            .swiper.category__swiper
                .swiper-wrapper
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-1.jpg") alt="").category-item__image
                        h3.category-item__title Серьги
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-2.jpg") alt="")
                        h3.category-item__title Кольца
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-3.jpg") alt="")
                        h3.category-item__title Подвески
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-1.jpg") alt="").category-item__image
                        h3.category-item__title Серьги
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-2.jpg") alt="")
                        h3.category-item__title Кольца
                    .swiper-slide.category-item
                        a(href="#").category-item__link
                        img(src=require("../../public/images/category-3.jpg") alt="")
                        h3.category-item__title Подвески
            button.slider__arrow.slider__arrow--prev.category__arrow--prev
                +icon("prev")
            button.slider__arrow.slider__arrow--next.category__arrow--next
                +icon("next")
